{% extends "base.html" %}
{% block content %}

<h1>Add a hero</h1>

<form method="post" action="{{base_path}}/heroes">
	<div class="form-group">
		<label>Name</label>
		<input name="name" class="form-control" type="text">
	</div>

	<div class="form-group">
  		<label>Roles</label>
  		<select class="form-control" name="roles[]" multiple="">
  	  	{% for role in roles %}
      		<option value="{{role.id}}">{{role.name}}</option>
    	{% endfor %}
 		 </select>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>
{% endblock %}