{% extends "base.html" %}
{% block content %}
  <header>
    <h1>Dota2 Tietokanta</h1>
  </header>

  <article>
    <p>Tervetuloa tietokantasovellukseni sivulle!</p>
  </article>

  <article>
    <p>Sivulta löytyy kaikki videopelin Dota2 pelattavat hahmot, kaikki esineet mitä hahmoille voi ostaa pelissä, sekä hahmoihin ja esineisiin liittyvät taidot ja loitsut.</p>
    <p>Lisäksi sivuilla voi luoda käyttäjätilin. Kirjautuneet käyttäjät voivat luoda omia viiden hahmon joukkueita.</p>
  </article>
{% endblock %}