{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

{% if message %}
  <div class="alert alert-success">
  {{message}}
  </div>
{% endif %}


  <header>
    <h1>{{role.name}}</h1>
  </header>

  <article>
    <p>Name: {{role.name}}</p>
    <p>Description: {{role.description}}</p>
    <p>Heroes with this role: 
    	{% for hero in heroes %}
  		<p><a href="{{base_path}}/heroes/{{hero[0]}}">{{hero[1]}}</a></p>
  		{% endfor %}
    </p>
  </article>

  {{forms.destroy_button("#{base_path}/roles/#{role.id}/destroy")}}
  <a href="{{base_path}}/roles/{{role.id}}/edit" class="btn btn-default">Edit</a>

{% endblock %}