{% extends "base.html" %}
{% block content %}

{% if message %}
  <div class="alert alert-success">
  {{message}}
  </div>
{% endif %}

  <header>
    <h1>Dota2 Database</h1>
  </header>

  <article>
    <p>Welcome to my database application's site!</p>
  </article>

  <article>
    <p>You can find all playable heroes and their roles from the video game Dota 2 here.</p>
    <p>In addition, you can create an account. Logged users can add, edit and remove heroes and roles.</p>
  </article>
{% endblock %}